
@{
    ViewBag.Title = "Calculadora";
}

<h2>Calculadora</h2>

<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <tittle>CalcularEdad</tittle>
</head>
<body>
    <div>
        <div>
            <form method="post">
                <div>Numero1:<input type="text" name="txtnum1" value="@ViewBag.n1" /></div>
                <div> Numero2:<input type="text" name="txtnum2" value="@ViewBag.n2" /></div>
              
                <h2>resultado</h2>
                suma:<input type="text" name="suma" value="@ViewBag.suma" />
                resta:<input type="text" name="resta" value="@ViewBag.resta" />
                multi:<input type="text" name="multi" value="@ViewBag.multi" />
                divi:<input type="text" name="divi" value="@ViewBag.divi" />
                <input type="submit" value="calcular" />
            </form>
        </div>
        @Html.ActionLink("Volver al menu principal", "Index")
    </div>
</body>
</html>