
@{
    ViewBag.Title = "Estadisticas";
}

<h2>Estadisticas</h2>

<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <tittle>CalcularEdad</tittle>
</head>
<body>
    <div>
        <div>
            <form method="post">
                <div>NUMERO DE SUSPENSOS:<input type="text" name="suspensos"  /></div>
                <div>NUMERO DE APROBADOS:<input type="text" name="aprobados"  /></div>
                <div>NUMERO DE NOTABLES:<input type="text" name="notables" /></div>
                <div>NUMERO DE SOBRESALIENTES:<input type="text" name="sobresalientes" value="@ViewBag.sobresalientes" /></div>
                <div>% ALUMNOS QUE SUPERARON LA ASIGNATURA:<input type="text" name="sup" value="@ViewBag.sup" /></div>
                <div>% SUSPENSOS:<input type="text" name="sup" value="@ViewBag.sus" /></div>
                <div>% APROBADOS:<input type="text" name="sup" value="@ViewBag.apro" /></div>
                <div>% NOTABLES:<input type="text" name="sup" value="@ViewBag.not" /></div>
                <div>% SOBRESALIENTES:<input type="text" name="sup" value="@ViewBag.sob" /></div>
                <div><input type="submit" value="calcular" /></div>
            </form>
        </div>
        @Html.ActionLink("Volver al menu principal", "Index")
    </div>
</body>
</html>

